<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="refresh" CONTENT="15">
    <title>Dashboards</title>
</head>
<body style="background-color: gray; position: absolute; width: 100%; margin-top: -160px; margin-left:-0px;" text="white">
<table>
    <tr><td>
    <div align="center">
<embed type="image/svg+xml" src={{graph_temperature|safe}}
</div>
        </td></tr>
    <tr><td>
<div style="margin-top: -164px;" align="center">
<embed type="image/svg+xml" src={{graph_heat|safe}}
</div>
    </td></tr>
</table>
</body>
</html>