/database.db
venv/
3venv/
*.pyc
.idea/*
nohup.out
database.db
../private_config/.credentials/*
../private_config/.credentials
prctl.py
openzwave/*
openzwave/__init__.py
test/__init__.pyc
pcf8574/*
pcf8574/__init__.py
posix/*
posix/__init__.py
fcntl/*
fcntl/__init__.py
scripts/osinstall/ubuntu/etc/motion/thread*.conf
/apps/esp8266_pwm_load/.idea/
/apps/esp8266_pwm_load/venv/
/apps/esp8266_pwm_load/credentials.py
/tasmota/device_config/
/apps/esp8266_vent_motor/credentials.py
/apps/esp8266_battery_charger/credentials.py
/apps/pi_battery_charger/credentials.py
/apps/esp8266_battery_charger/.idea/
/apps/esp8266_vent_motor/.idea/
