Flask>=0.10.1
Flask-Bootstrap>=3.3.0.1
Flask-SQLAlchemy>=1.0
Flask-WTF>=0.11
futures>=2.2.0
paho-mqtt==1.1
pyownet==0.8.1
PyDispatcher>=2.0.5
SQLAlchemy==0.9.9
SQLAlchemy-Defaults==0.4.4
SQLAlchemy-Utils==0.29.8
WTForm==1.0
WTForms==2.0.2
WTForms-Alchemy==0.13.0
WTForms-Components==0.9.7
