<html>
    <head>
        <title>{{ title }}</title>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
    </head>
    <body>
    <h1>{{ title }}</h1>
    {% for chart in chart_list %}
        <div class="container" align="left">
            <embed type="image/svg+xml" src={{ chart|safe }} style='max-width:1000px'/>
        </div>
    {% endfor %}
    </body>
</html>