[Unit]
Description=Music Player Daemon %I
After=network.target sound.target

[Service]
EnvironmentFile=/etc/default/mpd
ExecStart=/usr/bin/mpd --no-daemon /etc/mpd.conf
Restart=always
RestartSec=1min
SyslogIdentifier=mpd-%I
Nice=-10
# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=infinity
PIDFile=%t/mpd-%I.pid

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

[Install]
WantedBy=multi-user.target mpd@%i.socket
